.friends-count {
    display: inline-block;
    padding: 0 2px;
    font-weight: 900;
    font-size: 35px;
    line-height: 1.33333;
    font-family: 'GraphikLC',Helvetica,sans-serif;
    color: #fff;
    background-color: #f30;
}