<md-list>
  <h3 md-subheader>Друзья</h3>
  <md-list-item (click)="click(user)" *ngFor="let user of users">
    <img md-list-avatar src="{{user.photo_100}}" alt="{{user.first_name}} {{user.last_name}}" />
    <h4 md-line>{{user.first_name}} {{user.last_name}}</h4>
    <p md-line>  </p>
  </md-list-item>
</md-list>