<div>
  <md-toolbar color="primary">
    <span>НАВАЛЬНЫЙ 20<span class="navalny-red">!</span>8</span>
  </md-toolbar>
  <div class="content" fxLayoutAlign="center">
    <div fxFlex="70%" fxLayout="column">
      <h1 class="boldText">Выберите новость</h1>
      <news [cards]="cards"
            (setSelected)="setSetlectedNews($event)"></news>
      <count-friends *ngIf="selectedNews" [count]="friendsCount$ | async"></count-friends>
      <div fxLayout="row" fxLayoutGap="10px" class="buttons">
        <button (click)="postOnWall()" fxFlex="50%" active [disabled]="!selectedNews" md-raised-button color="primary">Поделиться записью на стене</button>
        <button (click)="isWritePersonalSelected=true" [disabled]="!selectedNews" fxFlex="50%" md-raised-button color="primary">Написать личное сообщение</button>
      </div>
      <friends *ngIf="isWritePersonalSelected"
               [card]="selectedNews"
               [users]="filteredFriends$ | async"></friends>
    </div>
  </div>
</div>