<div fxLayoutGap="20px">
  <div fxFlex fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="center" *ngFor="let card of cards">
    <md-card fxFlex="1 1 100%" class="example-card" [@cardState]="card.state" (click)="selectCard(card)">
      <md-card-header>
        <md-card-title>
          <h2>{{card.title}}</h2>
        </md-card-title>
        <md-card-subtitle></md-card-subtitle>
      </md-card-header>
      <img md-card-image src="{{card.photo}}">
      <md-card-content>
        <p>
          {{card.text}}
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>