<h1 md-dialog-title>Отправить сообщение</h1>
<md-input-container>
    <textarea mdInput>{{text}}</textarea>
</md-input-container>
<div md-dialog-actions>
    <button fxFlex="100%" md-raised-button color="primary">Отправить</button>
</div>