.friends-count {
    display: inline-block;
    font-weight: 900;
    font-size: 35px;
    line-height: 1.33333;
    color: #fff;
    background-color: #f30;
    padding: 0px 9px 0px 1px;
    font-style: italic;
}

.boldText {
    font-weight: 900;
    font-style: italic;
}