@import '~@angular/material/theming';
@include mat-core();

$md-nvlnpalette1: (
    50 : #ffffff,
    100 : #ffcabd,
    200 : #ff9d85,
    300 : #ff643d,
    400 : #ff4b1f,
    500 : #ff3300,
    600 : #e02d00,
    700 : #c22700,
    800 : #a32100,
    900 : #851b00,
    A100 : #ffffff,
    A200 : #ffad99,
    A400 : #ff5c33,
    A700 : #ff471a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);
$md-nvlnpalette0: (
    50 : #adedff,
    100 : #61dcff,
    200 : #29d0ff,
    300 : #00afe0,
    400 : #0097c2,
    500 : #007fa3,
    600 : #006784,
    700 : #004f66,
    800 : #003747,
    900 : #002029,
    A100 : #a3ebff,
    A200 : #3dd4ff,
    A400 : #00a7d6,
    A700 : #0093bc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$navalny-red: mat-palette($md-nvlnpalette1, 500);
$primary: mat-palette($md-nvlnpalette0, 500);
$accent:  mat-palette($mat-light-blue, 600, 100, 800);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);